[req]
prompt = no
distinguished_name = dn 
#req_extensions = ext
input_password = password

[dn]
CN = 192.168.56.105
emailAddress = .
O = UNAM
OU= Labo
L = Mexico
C = MX

#[ext]
#subjectAltName = DNS:www.ejemplo.com,DNS:ejemplo.com 